
.otp, .otp:focus-visible {
    border-bottom: 1px solid #cfcfcf;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 48px;
    outline: none;
    margin: 0px 7px 0px 7px;
    text-align: center;
    padding: 0px 5px 2px 5px;
}