@import "src/styles/variables.scss";

.btn-primary, .btn-primary:focus, .btn-primary:active {
    color: $light-text;
    background-color: $secondary ;
    border-color: $secondary;
    box-shadow: none !important;
    width: 100%;
    &:disabled {
      background-color: #6490ff;
    border-color: #6490ff;

    }
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.500rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.25rem;
  }